﻿@{
    ViewBag.Title = "聯絡我";
}
<h2>@ViewBag.Title</h2>


<address>
    簡易MVC<br />
    新刪修查<br />
    上傳檔案功能<br />
    <abbr title="Phone">P:</abbr>
    +886980747458
</address>

<address>
    <strong>聯絡方式:</strong>   <a href="mailto:1102137217@gm.kuas.edu.tw">1102137217@gm.kuas.edu.tw</a><br />
    
</address>