﻿@{
    ViewBag.Title = "Home Page";
}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}

<div class="jumbotron">
   <h1>ASP.NET MVC</h1>
    <p class="lead">Model View Controller</p>   
  
</div>


<div class="row">
    <div class="col-md-4">
        <h2>新增控制器 </h2>
        <div style="font-size:16px;">
            新增<u><b>控制器(Empty)</b></u>建立基本CRUD的方法<br />
            <a href="https://docs.microsoft.com/zh-tw/aspnet/mvc/overview/older-versions/getting-started-with-aspnet-mvc4/adding-a-controller">
                https://docs.microsoft.com/zh-tw/aspnet/mvc/overview/older-versions/getting-started-with-aspnet-mvc4/adding-a-controller
            </a>
            <pre>
                <code>public ActionResult Create (){        //移動到新增畫面                            return View()                      }</code>
            </pre>          
            Create 右鍵新增檢視就會開一頁/Create的頁面<br />

            [httpPost]Create POST 新增表單的POST
            <pre><code>[HttpPost]                               public ActionResult Create(News news){
    DB.Insert(news.context);
    return RedirectToAction("Index", "News");
}</code></pre>            
            
            新增完後可轉頁面 return RedirectToAction("Index", "Home"); /Home/Index (首頁)<br />
            或者指定POST到哪個方法 寫上-># using (Html.BeginForm("Store", "News", FormMethod.Post)) { 表單內容 }
            <pre><code>[HttpPost]
public ActionResult Store(FormCollection collection)
{
    
    if (!string.IsNullOrEmpty(collection["textbox1"]))
    {
        collection["textbox1"].ToString();                
        DB.Insertnews(collection["textbox1"].ToString());
                        
    }
    
    return Redirect("Index");
          
}</code></pre>
            
            在網頁中  即呼叫NewsController >Store方法
        </div>
        <p><a class="btn btn-default" href="#http://go.microsoft.com/fwlink/?LinkId=301865">## &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Model建立 </h2>
        <p>Model 建立需要的類別</p>
        <table class="table-bordered table-condensed">
            <tr><td>名稱</td><td>型態</td><td>變數</td></tr>
            <tr><td>編號Primary key</td><td>ID</td><td>Int</td></tr>
            <tr><td>內文</td><td>Context</td><td>string</td></tr>
        </table>
        <pre><code>using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
namespace MVCnews.Models
{
    public class News
    {
        public int id { get; set; }
        public string context { get; set; }
        public DateTime created { get; set; }
    }
}</code></pre>
        <p><a class="btn btn-default" href="#http://go.microsoft.com/fwlink/?LinkId=301866">## &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>View 顯示 </h2>
        <p>
            1.直接傳送Model(單筆)  <br />
            html第一行寫上Model #model MVCnews.Models.News  <br />
            ＠Html.TextBoxFor(model => model.context, new { ＠class = "text", type = "text", required = "required" })<br />
            即可顯示傳過來的資料並使用textbox修改資料 new{ 設定屬性 如樣式等}<br />
            <pre><code>DataTable dt = new DataTable();
dt = newsDB.GetnewsDataByID(id);
News Model = new News();
foreach (DataRow dr in dt.Rows)
{          
    Model.context = dr.Field&lt;string&gt;("context");   
}                </code></pre>
            Model在cshtml顯示
            <pre><code>＠model MVCnews.Models.ChangeUser;
＠using (Html.BeginForm("Store", "News", FormMethod.Post))
{
    &lt;div class=&quot;form-group&quot;&gt;
    ＠Html.LabelFor(model => model.uname, htmlAttributes: new { ＠class =  &quot;control-label col-md-2 &quot; })
        &lt;div class=&quot;col-md-10&quot;>
        ＠Html.TextBoxFor(model => model.uname, new { ＠class = &quot; text &quot;, type =  &quot;text &quot;, required =  &quot;required &quot; })
        &lt;/div&gt;
    &lt;/div&gt;
}
                </code></pre>
            2.使用ViewData傳送值(NewsIndex) (多筆) ＠foreach (var item in ViewData.Model)<br />
            { ＠item["context"] }<br />
            <pre><code>DataTable dt = new DataTable();
dt = newsDB.GetnewsData();
ViewData.Model = dt.AsEnumerable();
                </code></pre>
            ViewData在cshtml顯示
            <pre><code>＠foreach (var item in ViewData.Model)
{
&lt;tr&gt;           
    &lt;td&gt; ＠item[&quot;context&quot;] &lt;/td&gt;
    &lt;td&gt;&lt;input type=&quot;button&quot; value=&quot;編輯&quot; onclick=&quot;location.href='＠Url.Action(&quot;Update/&quot;+＠item[&quot;id&quot;], &quot;News&quot;)'&quot; class=&quot;btn btn-info&quot; /&gt;&lt;/td&gt;
    &lt;td&gt;&lt;input type=&quot;button&quot; value=&quot;刪除&quot; onclick=&quot;location.href='＠Url.Action(&quot;Delete/&quot;+＠item[&quot;id&quot;], &quot;News&quot;)'&quot; class=&quot;btn btn-success&quot; /&gt;&lt;/td&gt;
&lt;/tr&gt;
}
                </code></pre>
        </p>
        <p><a class="btn btn-default" href="#http://go.microsoft.com/fwlink/?LinkId=301867">## &raquo;</a></p>
    </div>
</div>