﻿@model MVCnews.Models.Blog
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

@using (Html.BeginForm("Update", "Blog", FormMethod.Post))
{
    <table>
        <tr class="dl-horizontal">
            @Html.HiddenFor(model => model.bid)
            <td>內容：</td>
            <td>
                @Html.EditorFor(model => model.context, "HTML")
                @Html.ValidationMessageFor(model => model.context, "", new { @class = "text-danger" })
                
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="修改" class="btn btn-primary" />
            </td>
            <td>@Html.ActionLink("刪除", "Delete", "Blog", new { id = Model.bid })</td>
            <td>@Html.ActionLink("取消", "Index", "Blog", new { }, new { @class = "btn btn-default" })</td>
        </tr>


    </table>
}
<script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>
