﻿

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("新增", "Create", "Blog", new { }, new { @class = "btn btn-primary" })
<div>
    <h4>Blog</h4>
    <hr />
    <div class="list-group">

        @foreach (var item in ViewData.Model)
        {
            <a href="Detail/@item["bid"]" class="list-group-item">
                @item["title"] - @item["subtitle"]
            </a>
        }
    </div>
    <hr />
    <table class="tab-content table-bordered">
        <tr>
            <td>標題</td>
            <td> 種類</td>
            <td> 內容</td>
            <td> 文章時間</td>
        </tr>
        @foreach (var item in ViewData.Model)
        {
           
            <tr>
                <td>@item["title"]</td>
                <td> @item["subtitle"]</td>
                <td> @Html.Raw(item["context"])</td>
                <td> @item["created"]</td>
            </tr>                         
        }
    </table>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
