﻿@model MVCnews.Models.User
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        location.href="../Home/Index";

    </script>
}
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.uaccount, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.uaccount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.uaccount, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.upw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.upw, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.upw, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="登入" class="btn btn-default" />
            </div>
        </div>

}