﻿@model MVCnews.Models.ChangeUser
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
        location.href="../Home/Index";

    </script>
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.id)
        <div class="form-group">
            @Html.LabelFor(model => model.uname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.uname, new { @class = "text", type = "text", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.uaccount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.uaccount, new { @class = "text", type = "text", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.umail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.umail, new { @class = "text", type = "mail", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.lastupw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.lastupw, new { @class = "text", type = "password", required = "required" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.upw, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.upw, new { @class = "text", type = "password", required = "required" })
            </div>
        </div>
        <input type="submit" value="修改" class="btn btn-primary" />

        @Html.ActionLink("取消", "Index", "User", new { }, new { @class = "btn btn-default" })

    </div>

}
