﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("新增", "Create", "Files", new { }, new { @class = "btn btn-primary" })
<div>
    <table class="table-bordered table table-hover">
        <tr><th>檔名</th><th>格式</th><th>上傳時間</th></tr>
        @foreach (var item in ViewData.Model)
        {
            <tr>
                <td oncontextmenu="showMenu()"> @item["name"] </td>             
                <td>@item["extension"]</td>
                <td>@item["created"]</td>
            </tr>
        }

    </table>
</div>
