﻿
@{
    ViewBag.Title = "Index";
    
}

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
       
    </script>
}
<h2>最新消息首頁</h2>
@Html.ActionLink("新增", "Create", "News", new { },new { @class = "btn btn-primary" })
<div>
    <table class="table-bordered table table-hover" >
        <tr><th>文章內容</th><th>修改</th><th>刪除</th></tr>
        @foreach (var item in ViewData.Model)
        {
            <tr>
               
                <td> @item["context"] </td>
                <td><input type="button" value="編輯" onclick="location.href='@Url.Action("Update/"+@item["id"], "News")'" class="btn btn-info" /></td>
                <td><input type="button" value="刪除" onclick="location.href='@Url.Action("Delete/"+@item["id"], "News")'" class="btn btn-success" /></td>
        </tr>
        }

    </table>
</div>