﻿@model MVCnews.Models.News

@{
    ViewBag.Title = "Update";
}
@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
       
    </script>
}
<h2>修改</h2>
@using (Html.BeginForm())
{
<table>
    <tr class="dl-horizontal">
        @Html.HiddenFor(model => model.id)
        <td>內容：</td>
        <td>
            @Html.TextBoxFor(model => model.context)
        </td>
    </tr>
    <tr><td>
            <input type="submit" value="修改" class="btn btn-primary" />
        </td>
    <td>@Html.ActionLink("取消", "Index", "News", new { }, new { @class = "btn btn-default" })</td></tr>

   
</table>

}
